@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;700&display=swap');

body {
  box-sizing: border-box;
  padding: 4%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f3f4f8;
}

#root {
  background-color: #feffff;
}

.d-flex {
  display: flex;
}

.blue-txt {
  color: #4386bf;
}

.dark-gret-txt {
  color: #12121250;
}

.project-main-txt-color {
  color: #121212;
}

header {
  padding: 24px 4%;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}
